<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login and Registration | Home</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'login/style.css' %}">
</head>
<body>
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    <h2>Registration</h2>
    <form action="/register" method="POST">
        {% csrf_token %}
        <ul class="form-style-1">
            <li>
                <label>First Name <span class="required">*</span></label>
                <input type="text" name="first_name" placeholder="First" />
            </li>
            <li>
                <label>Last Name <span class="required">*</span></label>
                <input type="text" name="last_name" placeholder="Last" />
            </li>
            <li>
                <label>Email <span class="required">*</span></label>
                <input type="email" name="email" class="field-long" />
            </li>
            <li>
                <label>Password <span class="required">*</span></label>
                <input type="password" name="password" />
            </li>
            <li>
                <label>Confirm Password <span class="required">*</span></label>
                <input type="password" name="confirm_password" />
            </li>
            <li>
                <input type="submit" value="Register" />
            </li>
        </ul>
    </form>
    <h2>Login</h2>
    <form action="/login" method="post">
        {% csrf_token %}
        <ul class="form-style-1">
            <li>
                <label>Email:</label>
                <input type="email" name="email" class="field-long" />
            </li>
            <li>
                <label>Password:</label>
                <input type="password" name="password" />
            </li>
            <li>
                <input type="submit" value="Login" />
            </li>
        </ul>
    </form>
</body>
</html>