<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Delete a Course</title>
</head>
<body>
    <h2>Are you sure you want to delete the following course?</h2>
    <p>Name: {{course.name}}</p>
    <p>Description: {{course.description}}</p>
    <form action="/" method="POST">
        {% csrf_token %}
        <input type="submit" value="No" />
    </form>
    <form action="/courses/{{course.id}}/destroy" method="POST">
        {% csrf_token %}
        <input type="submit" value="Yes! I want to delete this!" />
    </form>
</body>
</html>