<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CRUD Users</title>
</head>
<body>
    <h1>Users</h1>
    <table border="1">
        <thead>
            <td>Id</td>
            <td>Full name</td>
            <td>Email</td>
            <td>Created At</td>
            <td>Actions</td>
        </thead>
        <tr>
            <td>1</td>
            <td>Joel Stiller</td>
            <td>joelstiller@email.com</td>
            <td>12931313</td>
            <td>links</td>
        </tr>
    </table>
<p>HELLO WORLD!</p>
</body>
</html>